<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pig.admin.mapper.NfcCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.pig.admin.model.entity.NfcCode">
        <id column="id" property="id" />
        <result column="encrypted_coding" property="encryptedCoding" />
        <result column="version_number" property="versionNumber" />
        <result column="super_chain" property="superChain" />
        <result column="code_status" property="codeStatus" />
        <result column="creation_time" property="creationTime" />
        <result column="creater" property="creater" />
        <result column="update_time" property="updateTime" />
        <result column="modifier" property="modifier" />
        <result column="del_flag" property="delFlag" />
        <result column="remarks" property="remarks" />
        <result column="alternate_field1" property="alternateField1" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, encrypted_coding AS encryptedCoding,
         version_number AS versionNumber,
         super_chain AS superChain,
         code_status AS codeStatus,
         creation_time AS creationTime,
         creater, update_time AS updateTime,
         modifier, del_flag AS delFlag,
         remarks AS remarks,
         alternate_field1 AS alternateField1
    </sql>

    <select id="pageSelect" resultMap="BaseResultMap">
        SELECT
        <!--<include refid="Base_Column_List"></include>-->
        id, encrypted_coding,
        version_number,
        super_chain,
        code_status,
        creation_time,
        creater, update_time,
        modifier, del_flag,
        remarks
        FROM atc_nfc_code AS anc
        <where>
            del_flag = 0
            <if test="nfcCode.encryptedCoding != null and nfcCode.encryptedCoding != ''">
                and anc.encrypted_coding LIKE CONCAT('%',#{nfcCode.encryptedCoding},'%')
            </if>
            <if test="nfcCode.versionNumber != null and nfcCode.versionNumber != ''">
                and anc.version_number = #{nfcCode.versionNumber}
            </if>
            <if test="nfcCode.superChain != null and nfcCode.superChain != ''">
                and anc.super_chain LIKE CONCAT('%',#{nfcCode.superChain},'%')
            </if>
            <if test="nfcCode.codeStatus != null and nfcCode.codeStatus != ''">
                and anc.code_status = #{nfcCode.codeStatus}
            </if>
            <if test="nfcCode.remarks != null and nfcCode.remarks != ''">
                and anc.remarks LIKE CONCAT('%',#{nfcCode.remarks},'%')
            </if>
            ORDER BY anc.creation_time DESC
        </where>
    </select>

    <select id="selectNfcByEC" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from atc_nfc_code AS anc
        where anc.encrypted_coding LIKE CONCAT('%',#{nfcCode.encrypted_coding},'%')
    </select>

</mapper>
